
@media (max-width: 991px) {
    .form-group {
        margin-bottom: 0;
    }
    
    .form-group input:first-child {
        margin-bottom: 5px;
    }
    
    #header {
        display: none;
    }

    #header-responsive {
        display: inline-table;
        vertical-align: middle;
    }

    .container-responsive {
        width: 100%;
        display: flex;
        overflow: hidden;
    }
    
    #slider {
        /*margin-top: 0;*/
    }

    .middler {   
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;  
    } 
    
    .middler a {
        text-align: center;
    }
    
    .middler img {
         max-width: 50%;
    }
    
    .navbar-default {
        background-color: rgba(225, 225, 225, 100);
    }
    
    .navbar-toggle {
        background-color: #F8F8F8;
    }
    
    #menu-list-responsive {
        display: block;
        overflow: hidden;
        position: relative;
    }
    
    #menu-list-responsive ul {        
        list-style: none;
        list-style-type: none;
    }
    
    #menu-list-responsive ul li {
        border-bottom: 1px solid #CCC;
        padding: 8px;
        text-align: center;
    }

    #concepts .items {
        margin-bottom: 10px;
    }
    
    #concepts .items .btn-moreinf {
        position: inherit;
        margin-top: -10px;
    }
    
    #inside-dev .inside-title, #inside-dev .inside-desc, #inside-dev .inside-btn {
        text-align: center; 
    }
        
    #inside-dev #inside-right {
        display: none;
    }
    
    #content-middle .container { 
        background-image: none;
        padding: 5px;
    }  
    
    #content-middle #contentmd-right {
        padding-top: 0;
    }
    
    #content-middle #contentmd-right .inside-title {
        margin: 5px;
        text-align: center; 
    }
    
    #content-middle #contentmd-right .inside-desc {
        padding: 5px;
        text-align:center; 
        margin-left: 0;
    }
    
    #content-middle #contentmd-right .inside-btn {
        padding-right: 0px;
        padding-top: 0px;
        text-align: center; 
        margin-bottom: 20px;
    }
    
    #footer {
        padding: 0;
    }
    
    #footer .copyright div:first-child {
        text-align: center;
    }
    
    #footer .copyright div:last-child {
        text-align: center;
    }
    
    /** paginas internas **/
    
    .btn-orcamento {
        margin-bottom: 40px;
    }
    
    #header-inside .empresa {
        background-image: none;
    }
    
    .caminho {
        margin-top: 20px;
    }
    
    .div-btn-empresa {
        text-align: center;
    }
    
    .my-gallery {
        margin-top: 30px;
    }
}