
/** html **/
html, body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

/** cores base **/

.grey-light {
    color: rgba(218, 218, 218, 100);
    color: #DADADA;    
}

.grey-darker {
    color: rgba(135, 135, 135, 100);
    color: #878787;    
}

.red-light {
    color: rgba(241, 79, 76, 100);   
    color: #F14F4C;     
}

.red-lighten {
    color: rgba(239, 60, 55, 100); 
    color: #EF3C37;       
}

.red-darker {
    color: rgba(164, 28, 32, 100);   
    color: #A41C20;     
}

.green-light {
    color: rgba(164, 28, 32, 100);
    color: #C1D370;
}

.green-darker {
    color: #018949;
    color: rgba(1, 137, 73, 100);    
}

/** cores padrao **/

.red {
  color: rgba(181, 36, 42, 100);
  color: #6F6F6F;
}

.bg-red {
  background-color: rgba(181, 36, 42, 100);
  background-color: #6F6F6F;
}

.green {
  color: rgba(51, 136, 77, 100);
  color: #33884D;
}

.bg-green {
  background-color: rgba(51, 136, 77, 100);
  background-color: #33884D;
}

.black {
  color: rgba(31, 30, 32, 100);
  color: #1F1E20;
}

.bg-black {
  background-color: rgba(31, 30, 32, 100);
  background-color: #1F1E20;
}

.white {
  color: rgba(255, 255, 255, 100);
  color: #FFFF6F;
}

.bg-white {
  background-color: rgba(255, 255, 255, 100);
  background-color: #FFFF6F;
}

/** default css **/

.custom-spaces {
    margin: 10px 0 10px;
    padding: 10px;
}

.fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  z-index: 9999;
    width:inherit;
}


/** pagina inicial **/

#home {
    display: block;
    overflow: hidden;    
}

header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(230, 230, 230, 100);
    min-height: 100px;
}

header menu {
    display: flex;
    align-items: stretch;
    flex: 1;  
}

header menu nav  {   
    display: flex;
    align-items: stretch;
    flex: 1;  
}

header menu nav .container {  
    display: flex;
    border: 1px solid green;
}

#logo {
    align-items: stretch;
    border: 1px solid red;
}

#logo p { //sera a img da logo
    background: yellow;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/*
#menu-list {
    display: block;
    border: 1px solid red; 
    margin: 0 auto; 
}

    #menu-list ul {
        display: flex;
        list-style: none;
        list-style-type: none;
    }

        #menu-list ul li {
            align-items: stretch;
            flex: 1;
        }
*/

#slider {
    margin-top: 140px;
    display: block;
    height: 400px;
    background-color: #21775E;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#content {
    display: block;
    overflow: hidden; 
}

    #concepts {
        display: block;
        margin-top: 20px;
    }

    #concepts .items {
        display: flex;
        height: 320px;
    }
    
    #concepts .items .padding-inside {
        align-items: stretch;
        flex: 1;
        background-color: rgba(230, 230, 230, 100);      
    }
    
    #inside-dev {
        display: block;
        height: 400px;
    }
    
#content-middle {
    overflow: hidden;
    display: block;
    height: 400px;
    background: #ccc;
}

#content-footer {
    overflow: hidden;
    display: block;
    height: 400px;
    background: #C1D370;
}

#footer {
    overflow: hidden;
    display: block;
    height: 500px;
    background: #3c3c3c;
}