
/** html **/
html, body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1em;
    font-weight: normal;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #878787;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

img { 
  max-width: 100%;
}

/** cores base **/

.grey-light {
    color: rgba(218, 218, 218, 100);
    color: #DADADA;    
}

.grey-darker {
    color: rgba(135, 135, 135, 100);
    color: #878787;    
}

.red-light {
    color: rgba(241, 79, 76, 100);   
    color: #F14F4C;     
}

.red-lighten {
    color: rgba(239, 60, 55, 100); 
    color: #EF3C37;       
}

.red-darker {
    color: rgba(164, 28, 32, 100);   
    color: #A41C20;     
}

.green-light {
    color: rgba(164, 28, 32, 100);
    color: #C1D370;
}

.green-darker {
    color: #018949;
    color: rgba(1, 137, 73, 100);    
}

/** cores padrao **/

.red {
    color: rgba(181, 36, 42, 100);
    color: #6F6F6F;
}

.bg-red {
    background-color: rgba(181, 36, 42, 100);
    background-color: #6F6F6F;
}

.green {
    color: rgba(51, 136, 77, 100);
    color: #33884D;
}

.bg-green {
    background-color: rgba(51, 136, 77, 100);
    background-color: #33884D;
}

.black {
    color: rgba(31, 30, 32, 100);
    color: #1F1E20;
}

.bg-black {
    background-color: rgba(31, 30, 32, 100);
    background-color: #1F1E20;
}

.white {
    color: rgba(255, 255, 255, 100);
    color: #FFFF6F;
}

.bg-white {
    background-color: rgba(255, 255, 255, 100);
    background-color: #FFFF6F;
}

/** default css **/

.custom-spaces {
    margin: 10px 0 10px;
    padding: 10px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 9999;
    width:inherit;
}

.shadow-bottom {
    box-shadow: 0 8px 8px -8px #999;
}

.radius {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/** pagina inicial **/

#home {
    display: block;
    overflow: hidden;    
}

header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(230, 230, 230, 100);
    min-height: 100px;
}

header menu {
    display: flex;
    align-items: stretch;
    flex: 1;  
}

header menu nav  {   
    display: flex;
    align-items: stretch;
    flex: 1;  
}

header menu nav .container {  
    display: flex;
}

#logo {
    align-items: stretch;
}

#logo p { //sera a img da logo
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#menu-list {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 0.9em;
    color: #999;
}

#menu-list ul {    
    list-style: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;       
}

#menu-list ul li, #menu-list ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;  
}

#menu-list ul li.active {
    border-top: 4px solid #999;
}

#menu-list ul li:hover {
    /*border-top: 4px solid #CCC;*/
}

#menu-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}          

/** slider **/

#slider {
    margin-top: 140px;
    display: block;
    height: 420px;
    overflow: hidden;
}

/** tails **/

#content {
    display: block;
    overflow: hidden; 
}

#concepts {
    display: block;
    margin-top: 20px;
}

#concepts .items div:first-child {
    display: flex;
    height: 320px;
}

#concepts .items .padding-inside {
    align-items: stretch;
    flex: 1;
    background-color: rgba(230, 230, 230, 100);      
}

#concepts .items img {
    filter: grayscale(2.0);
}

#concepts .items img:hover {
    filter: grayscale(0);
}

#concepts .items .btn-moreinf {
    background: #1F1E20;
    display: block;
    padding: 8px;
    margin-top: 5px;
    color: white;
    font-size: 1.1em;
}

#concepts .items .btn-moreinf span:first-child {
    margin-left: 5px;
}

#concepts .items .btn-moreinf span {
    margin-top: 5px;
}

#concepts .items .btn-moreinf span:last-child {
    opacity: 0.6;
    margin-right: 5px;
}

#concepts .items .btn-moreinf .btn-descr {
    margin-left: 10px;
    opacity: 0.8;    
}

/** conteudo central **/

#inside-dev {
    display: block;
    min-height: 400px;
    padding: 5px;
}

#inside-dev .inside-title {
    margin-top: 30px;
}

#inside-dev .inside-desc {
    
}

#inside-dev .inside-btn {
    margin-top: 20px;
}

/** conteudo secundario **/

#content-middle {
    overflow: hidden;
    display: block;
    height: 400px;
    background: #ccc;
    line-height: 2;
}

#content-middle #contentmd-left {
    margin-top: 30px;
}

#content-middle #contentmd-right {
    display: block;
    padding-top: 20px;
}

#content-middle #contentmd-right .inside-desc {
    padding-right: 90px;
    text-align:right;
}

#content-middle #contentmd-right .inside-title {
    padding-right: 90px;
    text-align:right; 
}

#content-middle #contentmd-right .inside-btn {
    padding-right: 90px;
    text-align:right; 
    margin-top: 20px;
}

#content-footer {
    overflow: hidden;
    display: block;
    height: 400px;
    background: #C1D370;
}

#footer {
    overflow: hidden;
    display: block;
    height: 500px;
    background: #3c3c3c;
}

/** libs **/
.parallax-window {
    min-height: 400px;
    background: transparent;
}