
/** html **/
html, body {
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
    font-weight: normal;
    background: #F5F5F5;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #878787;
}

a:hover {
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    color: #00A690;
}

img { 
  max-width: 100%;
}

/** cores base **/

.grey-light {
    color: rgba(218, 218, 218, 100);
    color: #DADADA;    
}

.grey-darker {
    color: rgba(135, 135, 135, 100);
    color: #878787;    
}

.red-light {
    color: rgba(241, 79, 76, 100);   
    color: #F14F4C;     
}

.red-lighten {
    color: rgba(239, 60, 55, 100); 
    color: #EF3C37;       
}

.red-darker {
    color: rgba(164, 28, 32, 100);   
    color: #A41C20;     
}

.green-light {
    color: rgba(164, 28, 32, 100);
    color: #C1D370;
}

.green-dark {
    color: rgba(0, 166, 144, 100);
    color: #00A690;
}

.green-darker {
    color: #018949;
    color: rgba(1, 137, 73, 100);    
}

/** cores padrao **/

.red {
    color: rgba(181, 36, 42, 100);
    color: #6F6F6F;
}

.bg-red {
    background-color: rgba(181, 36, 42, 100);
    background-color: #6F6F6F;
}

.green {
    color: rgba(51, 136, 77, 100);
    color: #33884D;
}

.bg-green {
    background-color: rgba(51, 136, 77, 100);
    background-color: #33884D;
}

.black {
    color: rgba(31, 30, 32, 100);
    color: #1F1E20;
}

.bg-black {
    background-color: rgba(31, 30, 32, 100);
    background-color: #1F1E20;
}

.white {
    color: rgba(255, 255, 255, 100);
    color: #FFFFFF;
}

.bg-white {
    background-color: rgba(255, 255, 255, 100);
    background-color: #FFFFFF;
}

/** default css **/

.custom-spaces {
    margin: 10px 0 10px;
    padding: 10px;
}

.fixed-nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    z-index: 9999;
    width:inherit;
    -webkit-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -moz-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    -ms-box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
    box-shadow: 0 0 9px 0 rgba(0,0,0,.1);
}

.fixed-nav-bar {
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;
    -ms-transition: all 0.6s ease-out;
    transition: all 0.6s ease-out;
}

.fixed-nav-bar.scrolled {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.shadow-bottom {
    box-shadow: 0 8px 8px -8px #999;
}

.radius {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.cover-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.custom-margin {
    margin-top: 5px;
    margin-bottom: 5px;        
}

.none {
    display: none;
}

/** pagina inicial **/

#home {
    display: block;
    overflow: hidden;    
}

header {
    top: 0;
    margin-top: 0;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    background-color: rgba(230, 230, 230, 100);
    height: 100px;
}

header menu {
    top: 0;
    left: 0;
    margin-top: 0;    
    display: -webkit-box;      
    display: -moz-box;         
    display: -ms-flexbox;      
    display: -webkit-flex;    
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    align-items: stretch; 
    height: 100px;
}

header menu nav {   
    display: -webkit-box;      
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;    
    display: flex;
    align-items: stretch;
    flex: 1;  
    -webkit-flex: 1;
}

header menu nav .container {  
    display: -webkit-box;      
    display: -moz-box;        
    display: -ms-flexbox;     
    display: -webkit-flex;    
    display: flex;
}

.logo {
    align-items: stretch;
}

.logo img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#menu-list {
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    font-size: 0.9em;
    color: #999;
}

#menu-list ul {    
    list-style: none;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;       
}

#menu-list ul li, #menu-list ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;  
}

#menu-list ul li.active {
    border-top: 4px solid #00A690;
    background-color: rgba(235, 235, 235, 100);
}

#menu-list ul li.active a {
    color: #00A690 !important;
}

#menu-list ul li:hover {
    background-color: rgba(225, 225, 225, 100);
}

.menu-phone {
    display: flex;
    align-items: center;
    justify-content: center;
}          

.open-menu-bottom {
    
}

/** slider **/

#slider {
    margin-top: 100px;
    display: block;
    max-height: 420px;
    /*min-height: 420px;*/
    overflow: hidden;
}

/** tails **/

#content {
    display: block;
    overflow: hidden; 
}

#concepts {
    display: block;
    margin-top: 20px;
}

#concepts .items div:first-child {
    display: flex;
    height: 320px;
}

#concepts .items .padding-inside {
    align-items: stretch;
    flex: 1;
    background-color: rgba(230, 230, 230, 100);      
}

#concepts .items img {
    filter: grayscale(2.0);
}

#concepts .items img:hover {
    filter: grayscale(0);
    -webkit-transition: all 0.3s ease-in-out 0.1s;
    transition: all 0.3s ease-in-out 0.1s;
}

#concepts .items .btn-moreinf {
    background: #1F1E20;
    display: block;
    padding: 8px;
    margin-top: 5px;
    color: white;
    font-size: 1.1em;
}

#concepts .items .btn-moreinf span:first-child {
    margin-left: 5px;
}

#concepts .items .btn-moreinf span {
    margin-top: 5px;
}

#concepts .items .btn-moreinf span:last-child {
    opacity: 0.6;
    margin-right: 5px;
}

#concepts .items .btn-moreinf .btn-descr {
    margin-left: 10px;
    opacity: 0.7;    
}

/** conteudo central **/

#inside-dev {
    display: block;
    min-height: 380px;
    padding: 5px;
}

#inside-dev .inside-title {
    margin-top: 30px;
}

#inside-dev .inside-desc {
    color: #6F6F6F;
}

#inside-dev .inside-btn {
    margin-top: 20px;
}

#inside-dev .inside-btn .btn {
    width: 200px;
    font-size: 1.1em;
}

/** conteudo secundario **/

#content-middle {
    overflow: hidden;
    display: block;
    min-height: 25rem;
    background: rgba(210, 221, 225, 100);    
    line-height: 2;
}

#content-middle .container {    
    min-height: 25rem;
    overflow: hidden;
    display: block;
    background-image: url(../images/O6XIGO0.png);
    background-repeat: no-repeat;
    background-position: left; 
}

#content-middle #contentmd-left {
    margin-top: 30px;
}

#content-middle #contentmd-right {
    display: block;
    padding-top: 20px;
}

#content-middle #contentmd-right .inside-desc {
    text-align:right;
    color: #6F6F6F;
}

#content-middle #contentmd-right .inside-title {
    text-align:right; 
}

#content-middle #contentmd-right .inside-btn {
    text-align:right; 
    margin-top: 20px;
}

#content-middle #contentmd-right .inside-btn .btn {
    width: 200px;
    font-size: 1.1em;
}

/** content footer **/
#content-footer { 
    position: relative;
    min-height: 5rem;
    overflow: hidden;
    display: block;
    background: #000;
    line-height: 4;
    padding: 10px;
    text-align: center;
}

.btn-orcamento {
    width: 200px;
    font-size: 1.1em;
}

/** footer **/

#footer {
    padding-top: 15px;
    color: #E8E8E8;
    overflow: hidden;
    display: block;
    background: #3c3c3c;
    font-size: 1.1em;
}

.contact-info li {
    position: relative;
    padding: 0;
    margin: 0 0 1em 0;
    padding-left: 50px;
    list-style: none;
}

.contact-info li i {
    position: absolute;
    top: .2em;
    left: 0;
}

#footer .copyright .footer-right {
    overflow: hidden;
    display: block;
    text-align: right;
}

#footer .copyright {
    color: #878787;
    margin-top: 40px;
    margin-bottom: 40px;
    opacity: 0.8;
}

/** google maps **/

.google-maps {
    margin-top: 15px;
    position: relative;
    margin-bottom: 10px;
    min-height: 270px;
    overflow: hidden;
}

.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
}

/*
Back to top button 
*/
#back-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

#back-top a:hover {
    color: #000;
}

#back-top span {
    opacity: 0.2;
    width: 54px;
    height: 54px;
    display: block;
    margin-bottom: 7px;
    background: #000 url(../images/up-arrow.png) no-repeat center center;
    /* rounded corners */
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    /* background color transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#back-top a:hover span {
    opacity: 0.5;
    background-color: #000;
}

/** Waypoints **/
.wp1, .wp2, .wp3, .wp4, .wp5, .wp6 {
    visibility: hidden;
}
.bounceInLeft, .bounceInRight, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
    visibility: visible;
}
.delay-05s {
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}
.delay-1s {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}